<mj-section background-color='{{ branding.brandColor4 }}'>

  <mj-column>
    <mj-image src='{{ model.articles[0].image }}'
              border='2px {{ branding.brandColor1 }} solid'>
    </mj-image>
  </mj-column>

  <mj-column>
    <mj-text font-family='Lato'>
      {{ model.articles[0].name }}
    </mj-text>

    <mj-text color='{{ branding.brandColor3 }}'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum enim eget magna efficitur, eu semper augue semper. Aliquam erat volutpat. Cras id dui lectus. Vestibulum sed finibus lectus.
    </mj-text>
  </mj-column>

</mj-section>