<mj-section background-url='{{ branding.heroImage }}'
            background-size='cover'
            background-repeat='no-repeat'>

  <mj-column>
    <mj-text align='center'
             color='{{ branding.brandColor4 }}'
             font-size='40px'
             font-weight='bold'
             padding='40px 0 160px'>
             Hero message
    </mj-text>

    <mj-button background-color='{{ branding.brandColor1 }}'
               color='{{ branding.brandColor2 }}'
               font-weight='bold'
               href='#'>
      Button
    </mj-button>
  </mj-column>
</mj-section>